.card{
  
  max-width: 454px;
  height: 281px;
  box-shadow: 0px 4px 12px 0px #00000026;
  border-radius: 0px;
  background-color: #FFF !important;
  
}

.headerStyle {
  display: flex;
  color: black;
  background-color: #FFF !important;
  font-family: Inter UI;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 0px;
  padding-right: 10px;
  justify-content: space-between;
  align-items: center;
  height: 45px;
}

.rating {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 2px solid #E9D100;
  font-family: Inter UI;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
}

.contentStyle {
  text-align: left;
  padding: 0px;
  color: #fff;
  background-color: #FFF;
  
}

.description{
  height: 129px;
  max-width: 228px;
  color: #000;
  padding-right: 0px;
  font-family: Inter UI;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 183.333% */
  background-color: #FFF;
}

.genre{
  width: 46px;
  height: 20px;
  border-radius: 2px;
  border: 1px solid #D9D9D9;
  background-color: #FAFAFA;
  color: rgba(0, 0, 0, 0.65);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  text-align: center;
}

.date{
  color: #827E7E;
  font-family: Inter UI;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; 
  background-color: #FFF !important;
}
.siderStyle {
  background-color: #FFF !important;
  height: 281px;
  max-width: 183px;
}

.film-card__image {
  
  height: 100%;
  width: 183px;
  object-fit: contain;
  
 
  
}

.footerStyle {
  height: 46px;
  max-width: 100%;
  text-align: center;
  color: #0e0d0d;
  background-color: #FFF !important;
  padding: 0;
  margin-bottom: 2px;
}



